.time-scale {
  &__item {
    height: $height-shedile;
  }
  &--item-half {
    height: $height-shedile / 2;
  }
  &__wrap {
    transform: translateY(-50%);
    display: flex;
    align-items: flex-start;
  }
  &__hours {
    font-size: 14px;
    margin-right: 3px;
  }
  &__minutes {
    font-size: 11px;
  }
}
